html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: #FFC15E;
  text-align: center;
}

.App-header {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px);
  color: #1F1300;
}
